In [8]:
# get our db url
# create db engine via sqlalchemy

In [9]:
from env import config, BASE_DIR
from sqlalchemy import create_engine, text

In [10]:
DATABASE_URL = config("FLIGHT_PRICES_DATABSE_URL", default=None)
DATABASE_URL is not None

True

In [11]:
engine = create_engine(str(DATABASE_URL))

In [12]:
DATASET_DIR = BASE_DIR / "datasets"
DATASET_DIR.exists()

True

In [13]:
SQL_DUMP_CSV = DATASET_DIR / "sql-dump.csv"
SQL_DUMP_CSV.exists()

False

In [14]:
import pandas as pd # dask for larger datasets
# from dask import dataframe as dd

In [15]:
table_name = "flight_prices"
df = pd.read_sql(table_name, engine, index_col="index")

In [16]:
df.head(n=10)

,flightDate,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,segmentsAirlineName,totalFare
index,,,,,,,,
0,2022-04-17,ATL,BOS,0,0,0,American Airlines||American Airlines,273
1,2022-04-17,ATL,BOS,0,0,0,Spirit Airlines||Spirit Airlines,301
2,2022-04-17,ATL,BOS,0,0,0,United||United,352
3,2022-04-17,ATL,BOS,0,0,1,American Airlines,355
4,2022-04-17,ATL,BOS,0,0,1,Delta,307
5,2022-04-17,ATL,BOS,0,0,1,JetBlue Airways,302
6,2022-04-17,ATL,BOS,1,0,0,United||United,307
7,2022-04-17,ATL,CLT,0,0,0,American Airlines||American Airlines,492
8,2022-04-17,ATL,CLT,0,0,0,JetBlue Airways||JetBlue Airways,543
9,2022-04-17,ATL,CLT,0,0,0,United||United,467

In [17]:
df.to_csv(SQL_DUMP_CSV, index=False)

In [18]:
engine.dispose()