In [ ]:
# get our db url
# create db engine via sqlalchemy

In [2]:
from env import config
from sqlalchemy import create_engine, text

In [3]:
DATABASE_URL = config("DATABSE_URL", default=None)
DATABASE_URL is not None

True

In [4]:
engine = create_engine(str(DATABASE_URL))

In [7]:
DB_NAME="housing_db"
with engine.connect() as connection:
    result = connection.execute(text(f"CREATE DATABASE IF NOT EXISTS {DB_NAME}"))
    print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x000001E405B436A0>

In [12]:
DB_NAME2="ai_travel_prices"
with engine.connect() as connection:
    result = connection.execute(text(f"CREATE DATABASE IF NOT EXISTS {DB_NAME2}"))
    print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x000001E405B43C40>

In [10]:
# DB_NAME2="ai_travel_prices"
# with engine.connect() as connection:
#     result = connection.execute(text(f"DROP DATABASE {DB_NAME2}"))
#     print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x000001E405B43C40>

In [11]:
with engine.connect() as connection:
    result = connection.execute(text(f"SHOW DATABASES"))
    print(result.all())

[('housing_db',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]